main{
    width: 100%;
    height: 100vh;
    background: var(--white);
    display: flex;
    box-sizing: border-box;
}

.container1{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    background: #F7FAFC;
}

img{
    width: 50%;
    height: 50%;
    display: flex;
}

.container2{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    
}

.container-form{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container-int{
    width: 347px;
    display: flex;
    flex-direction: column;
    
    font-family: 'Merriweather';
}

.form-title p{
    font-size: 16px;
    line-height: 2.8em;
}

.form-title h1{
    font-size:26px;
    font-weight: 700,bold;
    font-style: normal;
}

form{
    display: flex;
    flex-direction: column;
    margin-top:35px;
    font-family: 'Lato';
}

form label{
    padding: 11px 0;
}

form input{
    width: 100%;
    height: 55px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 20px;
}

.form-radio{
    font-family: 'Lato';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.radio {    
    display: flex;
    align-items: center;
    gap: 5px;    
}

.radio input{
    width:10px;
}

.form-radio a{
    text-decoration: none;
    color: #2B6CB0;
    
}

.button-form{
    background-color:#04C45C;
    display: flex;
    justify-content:center ;
    border-radius: 5px;
    padding: 15px;
}



.button-form button{
    background-color:#04C45C;
    color: white;
    font-weight: bold;
}

.button-form-gmail{
    
    margin-top:15px;
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color:#1A202C;
    border-radius: 5px;
}

.button-form-gmail button{
    background-color:#1A202C;
    color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    display: flex;    
}

.button-form-gmail img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
     
}

.button-form:hover{
    cursor: pointer;
    overflow: hidden;
    transform: scale(1.1);
    transition: 1s all ease;
}

.button-form-gmail:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s all ease;
}

.footer{
    display: flex;
    margin-top: 15em;
    justify-items: center;
    align-items: center;
    padding-left: 50px;
    
}

.footer a{
    padding-left: 25px;    
}







